img{
    width: 100%;
    box-sizing: border-box;
}
.App{
    position: relative;
    max-width: 800px;
    display: grid;
    grid-template-areas: 
    "ponyo chihiro"
    "ponyo castle"
    ;
    gap: 2rem;
    height: 90vh;
    margin: 0 auto;
    padding: 2rem;
}

.Ponyo{
    grid-area: ponyo;
    grid-row: 1 / -1;
    background: url('./img/ponyo.jpg') center center no-repeat;
    background-size: cover;
    filter: contrast(1.2);
    box-shadow: -10px 10px 0 #2a1fc296;
}

.Chihiro{
    grid-area: chihiro;
    background: url('./img/chihiro.jpg') center center no-repeat;
    background-size: cover;
    filter: contrast(1.2);
    box-shadow: -10px 10px 0 #2a1fc296;
}


.Castle{
    grid-area: castle;
    background: url('./img/casteloanimado.jpg') center center no-repeat;
    background-size: cover;
    filter: contrast(1.2);
    box-shadow: -10px 10px 0 #2a1fc296;
}

@media (max-width: 760px){
    .App{
        grid-template-rows: repeat(3, 300px);
        grid-template-areas: 
        "ponyo ponyo"
        "chihiro chihiro"
        "castle castle"
        ;
        height: 100%;
    }
    .Ponyo{
        grid-row: 1;
    }
    .Castle{
        background: url('./img/casteloanimado.jpg') center center no-repeat;
        background-size: cover;
    }
}